//Removing the default padding and margin from pages
body {
  padding: 0px;
  margin: 0px;
}

//Styling for the forms on the login and register pages of the website
.formContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9d9d9d;

  //Styling for the central form component
  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    p {
      font-size: 18px;
      gap: 5px;
    }

    .logo {
      margin: 0px;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
      color: #005c64;
    }

    .title {
      margin: 0px;
      font-size: 18px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      input {
        padding: 15px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #9d9d9d;
        outline: none;
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        span {
          font-size: 16px;
        }

        img {
          width: 32px;
        }
      }

      button {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background-color: #b6b6b6;
        border-radius: 20px;
      }
    }
  }
}

//Applying some of the default styling applied to all pages of the website (except form and login)
.defaultPageLayout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  overflow-x: hidden;
}

//Styling for the main section of the webpages
.mainBody{
  flex : 6 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

//Styling for the sidebar of the website
.sidebar {
  flex: 1 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sidebarTab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    gap: 20px;
    cursor: pointer;

    &:hover {
      background-color: rgb(200, 200, 200);
    }

    img {
      width: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-weight: bold;
      font-size: 32px;
      color: rgb(70, 70, 70);
    }
  }
}

//Styling for the messages displayed on the website
.messages {
  flex: 5 5;
  width: 100%;

  //Styling the main message content
  .message {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 5px;

    .mainMessage {
      flex: 20 20;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .messageUpper {
        transition: text-decoration 500ms;
        font-weight: bold;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .messageLower {
        width: 90%;
      }
    }
  }
}

//Styling the userInfo and img, attached to each message
.userInfo {
  align-self: flex-start;
  margin: 10px;
  flex: 1 1;

  img {
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}

//Styling for the search page of the website
#search {
  justify-content: flex-start;
  align-items: flex-start;

  .searchBody {
    flex: 6 6;

    .searchInput {
      width: 100%;
      height: 100%;

      .searchUpper {
        input {
          padding: 20px;
          outline: none;
          border: none;
          border-bottom: 1px solid lightgray;
          width: 98%;
          background-color: transparent;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .searchResults {
        .searchResult {
          border-bottom: 1px solid lightgray;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          padding: 20px;

          &:hover {
            background-color: rgb(200, 200, 200);
          }

          .userPhoto {
            img {
              width: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .userInfo {
            flex: 6 6;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//Additional styling for the userProfile page of the website
#UserProfile{
  justify-content: flex-start;
  align-items: flex-start;

  .pageBody{
    flex : 4 4;
    width : 100%;
  }

  //Making the unique, larger pageHeader for this page
  .pageHeader{
    width : 100%;
    margin : 20px;
    gap : 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    .userInfoDiv{
      display : flex;
      justify-content: space-between;
      align-items: center;
      width : 60%;
  
      button{
        border : none;
        border-radius: 20%;
        padding : 20px 40px;
        font-size: 18px;
        background-color : lightskyblue;
        color : white;
        font-weight: bold;
      }
    }
  
    img{
      width : 128px;
      border-radius: 50%;
      object-fit: cover;
      cursor : pointer;
    }
  
    span{
      font-size: 64px;
      font-weight: bold;
    }
  }
}

//Styling the post component of the website (allowing the user to post a message)
.post {
  margin: auto;
  flex: 1 1;
  display: flex;
  width: 100%;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

  .mainInput {
    margin-right: 60px;
    flex: 20 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .inputUpper {
      margin-top: 5px;
      flex: 2 2;
      width: 100%;

      textarea {
        border: none;
        outline: none;
        resize: none;
        width: 99%;
        font-size: 18px;

        &::placeholder {
          font-size: 18px;
        }
      }
    }

    .inputLower {
      flex: 1 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      img {
        width: 32px;
        cursor: pointer;
      }

      button {
        border: none;
        background-color: lightblue;
        border-radius: 20px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}